<div class="row" style="height: 300px; text-align: center; margin-top: 30px;">
  <div class="col-xs-12">
    <span style="margin-top: 35px;"><span style="/*noinspection CssNoGenericFontName*/font-family: 'PT Sans Narrow'; font-size: 75px;">Skinny</span><span style="/*noinspection CssNoGenericFontName*/font-family: 'Fjalla One'; font-size: 68px;">Admin</span></span>
    <br><br>
    <span style="font-size: 22px;">This is the Admin <%= reg_name %>#new Controller | View located in views/admin/<%= option_name %>/new.</span>
    <br>
    <br> Please review the <%%= link_to 'Docs', 'http://skinnyadmin.org' %> so that you avoid any irritations that otherwise you wouldn't have had the hassle of dealing with.

  </div>
</div>

<%%= render 'form' %>
