

<div class="row" style="height: 100px; text-align: center;">
  <div class="col-xs-12">
    <span style="font-size: 22px;">This is the index partial passed to <%= reg_name %>#index <br> View located in views/admin/<%= option_name %>/_index.</span>
  </div>
</div>