<div class="row" style="height: 100px; text-align: center; margin-top: 30px;">
  <span style="margin-top: 35px;"><span style="font-family: 'PT Sans Narrow'; font-size: 75px;">Skinny</span><span style="font-family: 'Fjalla One'; font-size: 68px;">Admin</span></span>
  <br><br>
  <span style="font-size: 22px;">This is the Dashboard, located in views/admin/dashboard/index.<br>
    You may wanna think about what stats and links would be most useful here.<br>
    <%= link_to 'Chart.js', 'http://www.chartjs.org/' %> and <%= link_to 'Chartist.js', 'https://gionkunz.github.io/chartist-js/' %> ar great basic charting tools. The rest is up to you.</span>
  <br>
  <br> Please review the <%= link_to 'Documentation', 'http://skinnyadmin.org' %> so that you avoid any irritations that otherwise you wouldn't have had the hassle of dealing with.

</div>

